.posts-main {
    margin: auto;
    border-collapse: collapse;
    width: 70vw;
}

.post-main {
    margin: auto;
    border: 1px solid #999;
    border-radius: 5px;
    border-color: #343a40;
    background: #f7f9fa;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;
}

a {
    color: white;
  text-decoration: none; /* no underline */
}